extends ../layouts/mainLayout

block content
  section#catalogo
    .sucursales 
      h2 Sucursales
      button#branchColima(type='button' aria-label='extensiones de la sucursal Colima')
        img(src='/assets/images/sucursalColima.jpg' alt='Sucursal Colima')
        p Sucursal Colima
      button#branchManzanillo(type='button' aria-label='extensiones de la sucursal Manzanillo')
        img(src='/assets/images/sucursalManzanillo.jpg' alt='Sucursal Manzanillo')
        p Sucursal Manzanillo
      button#branchTecoman(type='button' aria-label='extensiones de la sucursal Tecoman')
        img(src='/assets/images/sucursalTecoman.jpg' alt='Sucursal Tecomán')
        p Sucursal Tecomán
      button#branchVilla(type='button' aria-label='extensiones de la sucursal Villa de Álvarez')
        img(src='/assets/images/sucursalVilla.jpg' alt='Sucursal Villa de Álvarez')
        p Sucursal Villa de Álvarez
      button#branchGuzman(type='button' aria-label='extensiones de la sucursal Guzmán')
        img(src='/assets/images/sucursalGuzman.jpg' alt='Sucursal Guzmán')
        p Sucursal Guzmán
      button#branchAutlan(type='button' aria-label='extensiones de la sucursal Autlán')
        img(src='/assets/images/sucursalAutlan.jpg' alt='Sucursal Autlán')
        p Sucursal Autlán
  
  script(src="/assets/js/home.js") 
