doctype html
html(lang='es')
  head
    meta(charset='uft-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Directory
  body
    include ../partials/header
    block content
    include ../partials/footer