header
  h1 Rancagua Directorio de Extensiones
  nav 
    .menu
      if isAuthenticated && viewName === 'viewsAdminExtensions'
        a.logout(href="/logout") Logout
      if viewName !== 'home' && viewName === 'viewUserExtensions'
        a#menuHome(class='menu-item' href='#') Home
        .dropdown-container
          ul
            li.sucursales-li Sucursales 
              ul
                li.content-top-li
                  a#menuColima(class='menu-item') Colima
                li
                  a#menuManzanillo(class='menu-item') Manzanillo
                li
                  a#menuTecoman(class='menu-item') Tecomán
                li
                  a#menuVilla(class='menu-item') Villa de Álvarez
                li
                  a#menuGuzman(class='menu-item') Guzmán
                li.content-bottom-li
                  a#menuAutlan(class='menu-item') Autlán
        a#menuInfo(class='menu-item info') Info
