header
  h1 Rancagua Directorio de Extensiones
  nav 
    .menu
      if isAuthenticated && viewName === 'viewsAdminExtensions'
        a.logout(href="/logout") Logout
      if viewName !== 'home' && viewName === 'viewUserExtensions'
        a(class='menu-item' onclick="window.location.href='/v1/home'") Home
        .dropdown-container
          ul
            li.sucursales-li Sucursales 
              ul
                li.content-top-li
                  a(onclick="window.location.href='/v1/user/viewExtension?sucursal=Colima'") Colima
                li
                  a(onclick="window.location.href='/v1/user/viewExtension?sucursal=Manzanillo'") Manzanillo
                li
                  a(onclick="window.location.href='/v1/user/viewExtension?sucursal=Tecoman'") Tecomán
                li
                  a(onclick="window.location.href='/v1/user/viewExtension?sucursal=Villa'") Villa de Álvarez
                li
                  a(onclick="window.location.href='/v1/user/viewExtension?sucursal=Guzman'") Guzmán
                li.content-bottom-li
                  a(onclick="window.location.href='/v1/user/viewExtension?sucursal=Autlan'") Autlán
        a(id='infoApp' class='menu-item info') Info
