extends ../../layouts/mainLayout

block content
  section#admin-extensions
    h1 Gestión de Extensiones 

    // Formulario para agregar una nueva extensión
    .form-actions-extensions
      form(id='frmExtension' method='post')
        // Sucursal como select
        label(for='sucursal') Sucursal
        select(id='sucursal' name='branch' required)

        label(for='name') Nombre
        input(type='text' id='name' name='employee' placeholder='ej. Juan Perez' required)

        label(for='email') Correo Electrónico
        input(type='email' id='email' name='email' placeholder='ej. algo@nissanrancagua.com' required)

        label(for="area") Área 
        select(id='area' name='area' required)

        label(for="position") Puesto
        input(type='text' id='position' name='position' placeholder='ej. ADPC' required)

        label(for="extension") Extensión
        input(type="number" id='extension' name='extension' placeholder='ej. 1040' required)

        button(type='submit' id='btnSendExtension') Agregar Extensión

    // Lista de extensiones existentes con diseño responsivo
    h2 Lista de Extensiones
    // Barra de búsqueda
    .search-container
      form(id='frmSearch', method='get')
        input(type='text' id='searchInput' name='search' placeholder='Buscar por nombre, sucursal, área, puesto...')
        button(type='submit' id='btnSearch' aria-label="Buscar") 
          svg(xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="30" height="30" fill='#FFFFFF')
            path(d="M18.9,16.776A10.539,10.539,0,1,0,16.776,18.9l5.1,5.1L24,21.88ZM10.5,18A7.5,7.5,0,1,1,18,10.5,7.507,7.507,0,0,1,10.5,18Z")

    #no-more-tables.data-table
      table#extensionsTable
        thead
          tr
            th Sucursal
            th Correo
            th Nombre
            th Área
            th Puesto
            th Extensión
            th.action-column Acciones
        tbody#bodyExtensions
      .pages
        button(type='button' aria-label='pagina anterior' id='btnBack')
          <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30"><path d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"/></svg>
        label(id='pageIndicator') Página 0 de 0
        button(type='button' aria-label='pagina siguiente' id='btnNext')
          <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30"><path d="M18,12h0a2,2,0,0,0-.59-1.4l-4.29-4.3a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L15,11H5a1,1,0,0,0,0,2H15l-3.29,3.29a1,1,0,0,0,1.41,1.42l4.29-4.3A2,2,0,0,0,18,12Z"/></svg>
    
  script(src='/assets/classes/updatePageTableClass.js')
  script(src='/assets/classes/messagesClass.js')
  script(src='/assets/js/adminExtensions.js') 
